header{
    background-color: rgb(255, 147, 233);
    border: 5px rgb(62, 32, 21) solid;
    width: auto;
    height: 150px; 
    margin: 5px;
}

main{
    width: auto; 
    height: 400px;
    background-color: rgb(233, 233, 0);
    border: 5px rgb(255, 255, 255) solid;
}

nav{
    background-color: rgb(72, 174, 253);
    width: 20%; 
    height: 300px; 
    float: left; 
    margin: 10px;
    border-radius: 10px;
    text-align: center; 
}

section{
    background-color: rgb(255, 219, 219);
    width: 50%; 
    height: 300px; 
    float: left; 
    margin: 5px;
    border-radius: 10px;
}

#primero{
    background-color: rgb(255, 176, 224);;
    width: 95%; 
    height: 90px; 
    float: left; 
    margin: 5px;
    text-align: center;
}

#segundo{
    background-color:rgb(255, 124, 203);
    width: 95%; 
    height: 90px; 
    float: left; 
    margin: 5px;
    text-align: center;
}

#tercero{
    background-color: rgb(255, 48, 172);;
    width: 95%; 
    height: 90px; 
    float: left; 
    margin: 5px;
    text-align: center;
}

aside{
    background-color: rgb(72, 174, 253);
    width: 20%; 
    height: 300px; 
    float: left; 
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

footer{
    background-color: rgb(255, 147, 233);
    border: 5px rgb(62, 32, 21) solid;
    width: auto;  
    height: 150px; 
    margin: 5px;
}